.button {
  display: inline-block;
  color: #fff;
  background: #186dd6;
  border: 1px solid transparent;
  cursor: pointer;
  width: 158px;
  height: 48px;
  border-radius: 24px;
  font-size: 16px;
}
.buttonheader {
  border-style: none;
  background: #fff;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}
