.asteroidblockgreen {
  height: 100px;
  width: 920px;
  background: linear-gradient(90deg, #cff37d 0%, #7de88c 100%);
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}
.asteroidblockred {
  height: 100px;
  width: 920px;
  background: linear-gradient(90deg, #ffb199 0%, #ff0844 100%);
  margin-top: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

.distrtitle {
  font-size: 20px;
  text-decoration: underline;
  margin: auto 10px;
}
.distrtext {
  margin: 20px;
}
.distrbtn {
  margin: 25px;
}
