.home {
  grid-area: c;
}
.sort {
  display: flex;
  justify-content: space-between;
}
.sortby {
  margin-top: 11px;
}
.sortdang {
  display: flex;
  margin-top: 11px;
}
.sortdang input {
  margin-top: 19px;
  margin-right: 10px;
}
