.sort1 {
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}
.sort2 {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 5px;
}

.active {
  font-weight: bold;
  text-decoration: none;
}
