.header {
  grid-area: h;
  height: 157px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  margin-top: 17px;
}
.headertext {
  width: 414px;
}
.headertext h1 {
  font-size: 36px;
  font-weight: normal;
}
.headersort {
  display: flex;
  margin-top: 26px;
}
.headersort a {
  color: #000;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}
.headersort a:first-child {
  margin-right: 23px;
}
.active {
  text-decoration: none;
  font-weight: bold;
}
